@charset "utf-8";

/* This file is meant to make the template that will apply to all pages */

/* Main Structure (i.e. left column + right column) */

html {
    background-color: #1e1e1e;
    
}

h2 {
    font-variant: small-caps;
    font-weight: normal;
}

body {
    display: grid;
    width: 99%;
    grid-template-columns: 12% 88%;  /* Fluid Grid for entire page */
    grid-template-areas: "left right";

    color: #CCCCCC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Sidebar */

div#leftCol {
    box-sizing: border-box;
    height: 98vh;
    grid-area: left;
    padding-left: 10px;
    background-color: #252526;
    
    overflow-x: hidden;  /* Hide overflow for when window is smaller; Prevents overlap */
}

div#leftCol::-webkit-scrollbar, div#rightCol::-webkit-scrollbar  {  /* Remove scrollbars for overflow */
    display: none;
}

/* Site Pages */

nav#siteNav > ul {
    list-style: none;
    padding: 0px;
    font-size: medium;
    line-height: 2em;
    letter-spacing: 2px;
    text-decoration: none;
}

nav#siteNav a:link, nav#siteNav a:visited {
    color: #CCCCCC;
    text-decoration: none;
}

nav#siteNav a:hover { color: gray; }

nav#siteNav a:active { color: #c3916a; }

nav#siteNav a#current {  /* Underline the current page the user is on */
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: #CCCCCC;
}

/* Socials Links */

div#socials {
    margin-top: 40vh;
}

nav#navSocials > ul {
    list-style: none;
    padding: 0px;
    
    font-size: small;
    line-height: 1.75em;
    text-decoration: none;
}

nav#navSocials a:link, nav#navSocials a:visited {
    color: #CCCCCC;
    text-decoration: none;
}

nav#navSocials a:hover { color: gray; }

nav#navSocials a:active { color: #c3916a; }

/* Main Content */

main {
    box-sizing: border-box;
    height: 98vh;
    width: 99%;
    margin: auto;
    
    display: grid;
    grid-area: right; 

    justify-content: center;
    align-items: center;

    overflow: auto;
}

main > header {
    grid-area: title;
    font-size: 2.5em;
    line-height: 0;
}

/* Home Page */

main#home {
    grid-template-columns: 45% 45%;  /*Fluid Grid for Home page*/
    grid-template-rows: 15% 85%;
    grid-template-areas:    "title title" 
                            "text  photo";
}

div#homeText {
    grid-area: text;
    justify-self: center;
}

div#homePhoto {
    grid-area: photo;
    justify-self: center;
}

/* Portfolio Page */

main#portfolio {
    grid-template-columns: 45% 45%;  /* Fluid Grid for Portfolio page */
    grid-template-rows: 15% 10% 45% 30%;
    grid-template-areas:    "title  title"
                            "text   text"
                            "photos photos"
                            "form   form";
}

div#portfolioPhotos {
    display: grid;
    grid-template-areas: "leftPhoto midPhoto rightPhoto";
    justify-content: center;
    gap: 4vh;
    grid-area: photos;
}

p#portfolioParagraph {
    grid-area: text;
    text-align: center;
}

div#portfolioPhoto1 { grid-area: leftPhoto; }
div#portfolioPhoto2 { grid-area: midPhoto; }
div#portfolioPhoto3 { grid-area: rightPhoto; }

form#portfolioForm {
    justify-self: center;
    grid-area: form;
    width: 80%;
}

div.formRow {
    display: flex;
    flex-flow: row wrap;
    margin: 5px 0px;
}

div.formRow > * {
    flex: 1 1 150px;
}

textarea { resize: none; }

div#buttons { text-align: center; }  /* Formatting for buttons */

input[type='submit'], input[type='reset'], 
input::-webkit-file-upload-button, input::file-selector-button {  /* Styling for buttons */
    margin: 10px;
    padding: 5px;
    width: 200px;


    background-color: #252526;
    color: #CCCCCC;

    font-weight: bold;

    border: 1px solid #CCCCCC;
    border-radius: 20px;

}

input[type='submit']:hover, input[type='reset']:hover, 
input::-webkit-file-upload-button:hover, input::file-selector-button:hover { 
    color: gray;
    border: 1px solid gray;
}

input[type='submit']:active, input[type='reset']:active, 
input::-webkit-file-upload-button:active, input::file-selector-button:active { 
    color: #c3916a;
    border: 1px solid #c3916a;
}

/* Gear Page */

main#gear {
    grid-template-columns: 30% 30% 30%;  /* Fluid Grid for Home page */
    grid-template-rows: 15% 70% 15%;
    grid-template-areas:    "title  title   title"
                            "photos photos  photos"
                            "form   form    form"
}

div#gearPhotos {  /* Structure for photo gallery */
    display: grid;
    justify-content: center;
    
    grid-template-areas: "leftPhoto midPhoto rightPhoto";
    grid-template-columns: 300px 300px 300px;
    gap: 50px;
    
    grid-area: photos;
}

div#gearPhotos .gearPhoto {
    border: 1px solid #CCCCCC;
    justify-self: center;
}

div#gearPhotoLeft
{
    grid-area: leftPhoto;
}

div#gearPhotoMid
{
    grid-area: midPhoto;
}

div#gearPhotoRight
{
    grid-area: rightPhoto;
}

div#gearPhotoLeft, div#gearPhotoMid, div#gearPhotoRight {
    text-align: center;
}

p.gearDesc {
    margin: 5px 5px 5px 5px;
    width: 95%;
}

/* Tips & Tricks */

main#tips {
    grid-template-columns: 45% 45%;  /* Fluid Grid for Tips page */
    grid-template-rows: 15% 10% 37.5% 37.5%;
    grid-template-areas:    "title      title"
                            "text       text"
                            "leftPhoto1 rightPhoto1"
                            "leftPhoto2 rightPhoto2";
}


/* body > * { outline: 1px dashed blue; }
main > * { outline: 2px dashed red; } */